/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #4facfe, #00f2fe);
  margin: 0;
}

.card {
  width: 340px;
  margin: 80px auto;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background: #4facfe;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #007bff;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
